.ul-header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.ul-header li {
    float: left;
}

.ul-header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.ul-header li a:hover {
    background-color: #111;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float:left;
}
.user-info {
    width: calc(99% - 97px);
    float: left;
    padding-top: 7px;
    padding-left: 10px;
}